/**
* admin.sass
**/

@import "../bootstrap.min.css";
@import "../bootstrap-theme.min.css";
@import "config.scss";
@import "mixin.scss";
@import "basic.scss";
@import "login.scss";
@import "header.scss";
@import "sidebar.scss";
@import "dashBoard.scss";
@import "footer.scss";

[aria-expanded^="true"]{
	& > .glyphicon-chevron-right:before{
		content:"\e114";
	}
}

.nav-second-level{
	margin-left: 20px;
}

iframe {
	border: none;
	width: 100%;
	min-height: 100%;
}