/**
* admin.sass
**/
@import url(../bootstrap.min.css);
@import url(../bootstrap-theme.min.css);
/**
* all mixin are here
**/
/**
* basic scss
**/
body {
  font-size: 14px; }

.content-container {
  position: absolute;
  top: 46px;
  width: 100%;
  height: calc(100% - 46px); }
  .content-container > .row {
    height: 100%; }
  .content-container .content-body {
    width: calc(100% - 220px);
    position: relative;
    height: 100%;
    overflow: auto;
    padding: 9px 9px 0px 22px; }
    @media (max-width: 768px) {
      .content-container .content-body {
        width: 100%; } }

.radio-group [type=radio]:not(:first-child) {
  margin-left: 10px; }
.radio-group [type=radio]:first-child {
  margin-left: 0px; }

.margin-top-10 {
  margin-top: 10px; }

.margin-right-10 {
  margin-right: 10px; }

.margin-right-20 {
  margin-right: 20px; }

.max-width-400 {
  max-width: 400px; }

/**
* css for login form
**/
.container.login {
  width: 300px;
  top: 100px;
  position: relative; }
  .container.login input[type=text], .container.login input[type=password] {
    margin-bottom: 13px;
    width: 200px; }
  .container.login .content {
    background-color: #fff;
    margin: 0 -20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 1px 3px gray;
    -moz-box-shadow: 0 1px 3px gray;
    box-shadow: 0 1px 3px gray; }
  .container.login .login-form {
    margin-left: 65px;
    margin-bottom: 21px; }
  .container.login legend {
    margin-right: -50px;
    font-weight: bold;
    color: #404040; }

/**
* all the css related to header will come here
**/
.header {
  background-color: #3993ba;
  padding: 11px;
  color: #fff; }
  .header .site-title {
    font-size: 17px; }
  .header .home-link a {
    color: #fff;
    margin-right: 13px; }
  .header .user .glyphicon-user {
    margin-right: 5px; }
  .header .user .dropdown {
    cursor: pointer;
    display: inline-block; }
    .header .user .dropdown .dropdown-menu {
      right: 0px;
      left: auto;
      color: #000; }

/**
* css for sidbar
**/
.side-bar {
  height: 100%;
  overflow: auto;
  border-right: solid 1px #ccc;
  width: 220px;
  position: relative;
  overflow: auto;
  z-index: 1;
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-box-shadow: 1px 0px 6px gray;
  -moz-box-shadow: 1px 0px 6px gray;
  box-shadow: 1px 0px 6px gray;
  /**
  * small device
  **/
  background-color: #f1f1f1; }
  .side-bar a {
    color: #333; }
    .side-bar a .glyphicon:first-child {
      margin-left: 2px;
      margin-right: 9px; }
  .side-bar.expand {
    margin-left: 0px; }
  .side-bar .btn-more {
    display: none;
    cursor: pointer;
    background-color: #f1f1f1;
    position: absolute;
    top: calc(50% - 18px);
    right: -18px;
    width: 36px;
    height: 36px;
    -webkit-border-radius: 0 18px 18px 0;
    -moz-border-radius: 0 18px 18px 0;
    border-radius: 0 18px 18px 0; }
    .side-bar .btn-more .glyphicon-chevron-right {
      position: relative;
      top: 8px;
      left: 16px;
      color: #3993ba; }
  @media (max-width: 768px) {
    .side-bar {
      margin-left: -220px;
      position: absolute; }
      .side-bar .btn-more {
        display: block; } }
  .side-bar li a {
    background-color: transparent !important;
    padding-left: 0px; }

.blocks-container {
  text-align: center; }
  .blocks-container .block {
    color: #333;
    padding: 18px;
    border: solid 1px #ccc;
    min-width: 121px;
    margin: 15px;
    line-height: 29px; }
    .blocks-container .block .glyphicon {
      font-size: 24px; }

.footer {
  position: absolute;
  bottom: 0px;
  text-align: center;
  width: 100%;
  font-size: 13px; }

[aria-expanded^="true"] > .glyphicon-chevron-right:before {
  content: "\e114"; }

.nav-second-level {
  margin-left: 20px; }

iframe {
  border: none;
  width: 100%;
  min-height: 100%; }

/*# sourceMappingURL=admin.css.map */
