/**
* basic scss
**/
$sideBarWidth: 220px;
$btnMoreRadius: 18px;


body{
	font-size: $basicFontSize;
}

.content-container{
	position: absolute;
	top: $contentContainerTop;
	width: 100%;
	height: calc(100% - #{$contentContainerTop});

	& > .row{
		height: 100%;
		.side-bar{
		}
	}

	.content-body{
		width: calc(100% - #{$sideBarWidth});
		position: relative;
		height: 100%;
		overflow: auto;
		padding: 9px 9px 0px 22px;
		@media (max-width: 768px) {
		   &{
		   	 width: 100%;
		   }
		}
	}
}


.radio-group{
	[type=radio]{
	 	&:not(:first-child){
		 	margin-left: 10px;
	 	}

	 	&:first-child{
	 	    margin-left: 0px;
	 	}
	}

}

.margin-top-10{
	margin-top: 10px;
}

.margin-right-10{
	margin-right: 10px;
}

.margin-right-20{
	margin-right: 20px;
}

.max-width-400 {
	max-width: 400px;
}