.blocks-container{
	text-align:center;
	.block{
		color: $fontColor;
		padding: 18px;
		border:solid 1px $borderGray;
		min-width: 121px;
		margin: 15px;
		line-height: 29px;

		.glyphicon{
		    font-size: $basicFontSize + 10;
		}
	}
}