/**
* all the css related to header will come here
**/
.header{
	background-color: $lightBlue;
	padding: 11px;
	color: $white;

	.site-title{
		font-size: $basicFontSize + 3;
	}

	.home-link{
		a{
			color: $white;
			margin-right: 13px;
		}

	}

	.user{
		.glyphicon-user{
			margin-right: 5px;
		}

		.dropdown{
			cursor: pointer;
			display: inline-block;
			.dropdown-menu{
				right: 0px;
				left: auto;
				color: $black;
			}
		}
	}	
}