/**
* css for login form
**/
.container.login{
	width: 300px;
	top: 100px;
	position: relative;
    
    input[type=text],input[type=password]{
        	margin-bottom: 13px;
        	width: 200px
    }

    .content {
       background-color: $white;
       margin: 0 -20px; 
	   @include borderRadius(10px);
       @include boxShadow(0 1px 3px gray);
   }

   .login-form {
        margin-left: 65px;
        margin-bottom: 21px;
      }

      legend {
        margin-right: -50px;
        font-weight: bold;
        color: #404040;
      }
}

