/**
* all mixin are here
**/

@mixin borderRadius($radius){
	 -webkit-border-radius: $radius;
	 -moz-border-radius: $radius;
	 border-radius: $radius;
}

@mixin boxShadow($params){
	 -webkit-box-shadow: $params;
	 -moz-box-shadow: $params;
      box-shadow: $params;
} 

@mixin transition($params){
	-webkit-transition: $params;
    transition: $params;
}