/**
* css for sidbar
**/
.side-bar{
	height: 100%;
	overflow: auto;
	border-right: solid 1px $borderGray;
	width: $sideBarWidth;
	position: relative;
	overflow: auto;
	z-index: 1;
	@include transition(all 1s);
	@include boxShadow(1px 0px 6px gray);

	a{
		color: $fontColor;
		.glyphicon:first-child{
			margin-left:2px;
			margin-right: 9px;
		}
	}

	&.expand{
		margin-left: 0px;
	}

	.btn-more{
		display: none;
		cursor: pointer;
		background-color: $lightGray;
		position: absolute;
		top: calc(50% - #{$btnMoreRadius});
		right: -$btnMoreRadius;
		width: $btnMoreRadius * 2;
		height: $btnMoreRadius * 2;
		@include borderRadius(0 $btnMoreRadius $btnMoreRadius 0);

		.glyphicon-chevron-right{
			position: relative;
			top: 8px;
			left: 16px;
			color: $lightBlue;
		}
	}
	/**
	* small device
	**/
	@media (max-width: 768px) {
	   &{
	   	 margin-left: -$sideBarWidth;
	   	 position: absolute;
	   	 .btn-more{
	   	 	display: block;
	   	 }
	   }
    }
	


   background-color: $lightGray;
   li{
      a{
        background-color: transparent !important;
        padding-left: 0px;
      }
   }
}
